# we want to clone these repo independently and git to ignore it
git/gitstatus
colors/falcon
zsh/env.d/*.priv.env
vim/vim/undo/*
vim/vim/plugged
!vim/vim/undo/.gitkeep
!bin
zsh/plugins/*

# These files will be generated
git/gitconfig
