zsh/funcs/ro_db

zsh/env.d/*.priv.env
vim/vim/undo/*
vim/vim/plugged
!vim/vim/undo/.gitkeep
!bin
zsh/plugins/*
local_overlay

# we want to clone these repo independently and git to ignore it
git/gitstatus
colors/*
!colors/README
zsh/bd
zsh/fzf-git
zsh/powerlevel10k
zsh/zsh-vi-mode

# These files will be generated
git/gitconfig
zsh/zshenv
zsh/env.d/tmux.env
zsh/zshrc
etc/kitty.conf
tmux/tmux.conf
